.service-box-1 {
    width: 446.44px;
    /* height: 197.24px; */
    background-color: #17232E;
    border: 2px solid #273746;
    padding: 30px;
    border-radius: 10px;
}

@media only screen and (max-width: 1323px) {
    .service-box-1 {
        width: 400.44px;
    }
}

@media only screen and (max-width: 1228px) {
    #img-2 {
        display: none;
    }

    #flex-column {
        flex-direction: column;
    }
}

@media only screen and (max-width: 836px) {

    #flex-column {
        flex-direction: column;
        gap: 10px !important;
    }

    .service-box-1 {
        width: 446.44px;
    }
}

@media only screen and (max-width: 464px) {

    .service-box-1 {
        width: 304.44px;
    }
}