.service-box-1 {
    width: 446.44px;
    /* height: 197.24px; */
    background-color: #17232E;
    border: 2px solid #273746;
    padding: 30px;
    border-radius: 10px;
}

/* .m-width {
    width: 440px !important;
} */