.tabs-btn {
    background-color: #00ADEF;
    /* padding: 2px 2px; */
    border-radius: 10px;
    border: none;
}

.w-5 {
    max-width: 500px;
}

.w-5-1 {
    max-width: 595px;
}

@media only screen and (max-width: 320px) {
    .resposive-1 {
        width: 296px !important;
    }
}